

/* 

Palette de Couleurs 

#4567
#02315E
#00457E
#2F70AF
#B9848C
#806491
*/

body {
    background-color: #f0f0f0; /* couleur fond de page */
    margin: 10px; /* permet de s'assurer que nos éléments prennent bien toute la largeur de la page */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.banniere {
    padding: 40px; 
    background-image: url('Images/banner.jpg');
    background-size: cover;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top : 10px;
    margin-bottom : 0px;
}

main{
    width : 70%;
    margin-left: 15%;
}

/* Style pour la barre de navigation */
nav {
    /* background-color: #003366; Bleu foncé */
    padding: 10px 0;
    margin-top : 0px;
    margin-left : 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;

}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    color: #003366;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    display: block;
    width: 150px;
    text-align: center;
    background-color: #cce7ff;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color:#a0cfff;
    border-radius: 4px;
}

/* Sous-menu */
.submenu {
    display: none;
    position: absolute;
    background-color: #cce7ff; /* Bleu clair */
    padding: 0px 0;
    width: 90%;
    top: 100%; /* Positionné sous le bouton parent */
    left: 7.5px;
    border-radius: 4px;

}

.submenu li {
    display: block;
    margin: 0;
    width: 90%;
    left: 0px;
    /* border-bottom: 1px solid #0055aa;
    border-bottom-style: dashed;
    border-left: 2px ; */

}

.submenu li:last-child {
    border-bottom: none;

}

.submenu li a {
    color: #003366; /* Texte bleu foncé */
    text-align: center;
    width: 90%;
    left: -7.5px;
    padding: 10px 16px; /* premier : espace vertical entre les sous-parties / second :*/ 
  
}

.submenu li a:hover {
    background-color: #a0cfff;
    width: 90%;
    left: -7.5px;
}

/* Afficher le sous-menu au survol du parent */
nav ul li:hover .submenu {
    display: block;
}



.summary {
    color: #2F70AF;
}



.titre {
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0;
}


h1 {
    /* pour les sections 1 */
    padding: 20px; 
    color: #806491;
    font-size: 2em;
    margin: 40;
}

h2 {
    /* pour les subsections 1.1 */
    color: #B9848C;
    padding: 20px; 
    font-size: 1.5em;
    margin: 0;
}


p {
    text-align: justify;
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 1em;
    text-align: justify;
    margin: auto;
}




/* POUR LES COLONNES */


.container {
    display: flex;
    justify-content: space-between; /* Espacement entre les colonnes */
    
}

.column {
    flex: 1;
    margin: 0 0px; /* Ajoute un espace entre les colonnes */
    text-align: center;
}
