

/* 

Palette de Couleurs 

#4567
#02315E
#00457E
#2F70AF
#B9848C
#806491
*/

body {
    background-color: #f0f0f0; /* couleur fond de page */
    background-image: url('fond_ecran.png');
    margin: 10px; /* permet de s'assurer que nos éléments prennent bien toute la largeur de la page */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.banniere {
    padding: 40px; 
    background-image: url('Images/banner.jpg');
    background-size: cover;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top : 10px;
    margin-bottom : 0px;
}

main{
    width : 70%;
    margin-left: 15%;
}

/* Style pour la barre de navigation */
nav {
    padding: 10px 0;
    margin-top: 0px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    color: #003366; /* Couleur du texte */
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    display: block;
    width: 150px; /* Largeur du bouton principal */
    text-align: center;
    border: 2px solid white; /* Bordure blanche */
    border-radius: 4px;
    background-color: transparent; /* Fond transparent */
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: white; /* Fond blanc au survol */
    color: #003366; /* Texte bleu */
    border-radius: 4px;
}






.summary {
    color: #2F70AF;
}



.titre {
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0;
}


h1 {
    /* pour les sections 1 */
    padding: 20px; 
    color: #806491;
    font-size: 2em;
    margin: 40;
}

h2 {
    /* pour les subsections 1.1 */
    color: #B9848C;
    padding: 20px; 
    font-size: 1.5em;
    margin: 0;
}


p {
    text-align: justify;
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 1em;
    text-align: justify;
    margin: auto;
}




/* POUR LES COLONNES */

.container {
    display: flex;
    justify-content: space-between; /* Espacement entre les colonnes */
    
}

.column {
    flex: 1;
    margin: 0 0px; /* Ajoute un espace entre les colonnes */
    text-align: center;
}
